<module xmlns="urn:jboss:module:1.1" name="org.camunda.xstream">
	<resources>
		<resource-root path="${project.build.finalName}.${project.packaging}" />
		<resource-root path="xstream-${xstream.version}.jar" />
	</resources>
	<dependencies>
		<module name="org.camunda.bpm.camunda-engine" />
		<module name="javax.xml.stream.api"/>
		<module name="javax.api"/>
	</dependencies>
</module>
